* {
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    margin: 0;
}

.form-welcome {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 4rem;
    text-align: center;



}

.reg-form-container {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 1rem;

}

.reg-form-right-side-image img {
    max-width: 430px;


}

.reg-form-left-side {
    background-color: wheat;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 4.1rem;
}
.fa-google{
    background: -webkit-linear-gradient(#f50505, #1fe206);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.reg-btn{
    padding: 0.3rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
    cursor: pointer;
}
.welocme-logo{

    font-weight: bold;
}


.containing {
    padding-left: 4rem;
    padding-right: 4rem;
}

.logo img {
    max-width: 110px;
}

.google-div {
    border-radius: 5px;
    border: 2px solid whitesmoke;
    padding: 7px;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
}
.select-div select{
    border-radius: 5px;
}

.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 1rem;
    padding-bottom: 1rem;
    color: rgb(159, 131, 131);
}

.bar-line {
    height: 1px;
    width: 50px;
    background-color: rgb(62, 54, 54);
}

.reg-form-right-side-image {
    max-width: 350px;
}


.reg-form-top-side {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding-top: 1rem;
    padding-left: 1.25rem;
    padding-right: 1rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.page-holder {
    border: 2px solid rebeccapurple;
    border-radius: 100px;
    display: flex;
}


.form-container input {
    border: 2px solid rgb(151, 117, 117);
border-radius: 8px;
    padding: 0.35rem;
}
.form-container span{
    color: rgba(71, 59, 177, 0.931);
    font-weight: bold;
    padding-left: 1rem;
}
.form-container p{
    color: rgba(177, 106, 59, 0.931);
    font-weight: bold;
    margin-right: 1rem;
    
}

